openapi: 3.1.0
info:
  title: Pedidos - API legada (AS-IS)
  version: 1.0.0
  description: |
    Contrato atual da API de Pedidos, reconstruído a partir das premissas P-CTR-01 e P-CTR-02.
    Linha de base imutável: serve de referência para o `oasdiff` e para os testes de consumidor
    que provam que a evolução da v1 não quebra consumidores existentes (ADR-007).

    Características herdadas, mantidas de propósito: rota sem versão, IDs sequenciais,
    preço numérico sem moeda, erros sem formato padronizado e ausência de idempotência.
servers:
  - url: https://api-br.exemplo.com
    description: Célula BR (a v1 existe apenas no Brasil)
security:
  - bearerAuth: []
paths:
  /orders:
    post:
      operationId: createOrderV1
      summary: Cria um pedido
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "201":
          description: Pedido criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
  /orders/{id}:
    get:
      operationId: getOrderV1
      summary: Consulta um pedido pelo ID sequencial
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Pedido encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Error:
      description: Erro
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    CreateOrderRequest:
      type: object
      required: [customerId, items]
      properties:
        customerId:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [sku, quantity]
            properties:
              sku:
                type: string
              quantity:
                type: integer
                minimum: 1
    Order:
      type: object
      required: [id, customerId, status, total, items, createdAt]
      properties:
        id:
          type: integer
          format: int64
        customerId:
          type: string
        status:
          type: string
          enum: [CREATED, CONFIRMED, SHIPPED, DELIVERED, CANCELLED]
        total:
          type: number
        items:
          type: array
          items:
            $ref: "#/components/schemas/OrderItem"
        createdAt:
          type: string
          format: date-time
    OrderItem:
      type: object
      required: [sku, quantity, price]
      properties:
        sku:
          type: string
        quantity:
          type: integer
        price:
          type: number
        description:
          type: string
    Error:
      type: object
      required: [message]
      properties:
        message:
          type: string
